<div id="myToast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div class="row">
<div class="container mb-5 px-3 col-lg-6 clo-md-6 col-sm-12 animated slideInDown">        
    <form [formGroup]="formGroup" (submit)="onRegister()"novalidate style="margin: auto; width:100%;" class="mt-5 px-4 py-5">
        <h1>Register</h1>
        
        <div class="mb-3">
            <label for="InputName" class="form-label">Name</label>
            <input  type="name" formControlName="name" class="form-control" id="name" placeholder="Enter your Name" [class.is-valid]="(formGroup.controls.name?.dirty
            ||formGroup.controls.name?.touched)&&formGroup.controls.name?.valid"
        [class.is-invalid]="(formGroup.controls.name?.dirty
        ||formGroup.controls.name?.touched)&& formGroup.controls.name?.invalid" >
        <ng-container *ngIf="!formGroup.controls.name?.valid && (formGroup.controls.name?.dirty
        ||formGroup.controls.name?.touched)">
        
        <div class="text-danger" *ngIf="formGroup.controls.name.errors?.required">
          *This field is required.
        </div>
        <div class="text-danger" *ngIf="formGroup.controls.name.errors?.minlength">
         *username to should be greater than 3 letters
        </div>
         
      </ng-container>
           
        </div>


        <div class="mb-3">
          <label for="InputEmail" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email Id"[class.is-valid]="(formGroup.controls.email?.dirty
          ||formGroup.controls.email?.touched)&&formGroup.controls.email?.valid"
      [class.is-invalid]="(formGroup.controls.email?.dirty
      ||formGroup.controls.email?.touched)&& formGroup.controls.email?.invalid">
      <ng-container *ngIf="!formGroup.controls.email?.valid && (formGroup.controls.email?.dirty
      ||formGroup.controls.email?.touched)">
      
      <div class="text-danger" *ngIf="formGroup.controls.email.errors?.required">
        *This field is required.
      </div>
      <div class="text-danger" *ngIf="formGroup.controls.email.errors?.pattern">
      *wrong Email Format
      </div>
      <div class="text-danger" *ngIf="formGroup.controls.email.errors?.emailCheck">
        *wrong Email Format
        </div>  
    </ng-container>
         
        </div>

        <div class="mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" [class.is-valid]="(formGroup.controls.password?.dirty
          ||formGroup.controls.password?.touched)&&formGroup.controls.password?.valid"
      [class.is-invalid]="(formGroup.controls.password?.dirty
      ||formGroup.controls.password?.touched)&& formGroup.controls.password?.invalid">
      <ng-container *ngIf="!formGroup.controls.password?.valid && (formGroup.controls.password?.dirty
      ||formGroup.controls.password?.touched)">
        <div class="text-danger" *ngIf="formGroup.controls.password.errors?.required">
          *This field is required.
        </div>
        <div class="text-danger" *ngIf="formGroup.controls.password.errors?.minlength">
        *Minimum Length should be 8 
        </div>
        
    </ng-container>
        </div>


        <div class="mb-3">
            <label for="InputPassword2" class="form-label">Confirm Password</label>
            <input type="password" formControlName="passwordConfirm" class="form-control" id="InputPassword2" placeholder="Confirm Password"[class.is-valid]="(formGroup.controls.passwordConfirm?.dirty
            ||formGroup.controls.passwordConfirm?.touched)&&formGroup.controls.passwordConfirm?.valid"
        [class.is-invalid]="(formGroup.controls.passwordConfirm?.dirty
        ||formGroup.controls.passwordConfirm?.touched)&& formGroup.controls.passwordConfirm?.invalid" >
            
        <ng-container *ngIf="!formGroup.controls.passwordConfirm?.valid && (formGroup.controls.passwordConfirm?.dirty
        ||formGroup.controls.passwordConfirm?.touched)">
          <div class="text-danger" *ngIf="formGroup.controls.passwordConfirm.errors?.required">
            *This field is required.
          </div>
          <div class="text-danger" *ngIf="formGroup.controls.passwordConfirm.errors?.minlength">
          *Minimum Length should be 8 
          </div>
          <div class="text-danger" *ngIf="formGroup.controls.passwordConfirm.errors?.confirmedValidator">
            *Password Mismatch 
            </div>
      </ng-container>
          </div>

        <div class="mb-3 form-check">
          <input  type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Terms & Conditions</label>
        </div>
        <button id="register" [disabled]="formGroup.invalid" type="submit" type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>  
      </form>
      <div class="or-container"><div class="line-separator"></div> <div class="or-label">or</div><div class="line-separator"></div></div>

      <div class="row">
        <div class="col-md-12">
          <button (click)=" oAuthLogin()" style="width: 100%;" class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google</button>

        </div>
    </div>
    <br>
    </div>
     
  </div>

  <!-- <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
      Hello, world! This is a toast message.
     </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>  -->