<section class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container">
      <div class="container">
        <div class="wrapper">
          <input type="checkbox" id="btn" hidden>
          <label for="btn" class="menu-btn">
          <i class="fa-solid fa-bars"></i>
          <i class="fas fa-times"></i>
          </label>
          <nav id="sidebar">
             <div class="title">
                <img src="assets\Images\walmartLogo.svg" alt="" srcset="">
             </div>
             <ul class="list-items">
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="material-symbols-outlined">account_circle</i>About Profile</a></li>
                <li><a href="#"><i class="material-symbols-outlined">login</i>Login</a></li>
                <li><a href="#"><i class="material-symbols-outlined">how_to_reg</i>Register</a></li>
                <li><a href="#"><i class="material-symbols-outlined">shopping_cart</i>Your Cart</a></li>
                <li><a href="#"><i class="material-symbols-outlined">list_alt</i>Your Orders</a></li>
                <li><a href="#"><i class="material-symbols-outlined">favorite</i>Your Wishlist</a></li>
                <li><a href="#"><i class="fas fa-user"></i>About us</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i>Contact us</a></li>
                <li><a href="#"><i class="material-symbols-outlined">logout</i>Logout</a></li>
             </ul>
          </nav>
       </div>
        <form class="d-flex searchBox">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-warning" type="submit">Search</button>
        </form>
      </div> 
    </div>
</section>
